/*
 * XL - CSS/SIZES/EXTRA-LARGE.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
@media screen and (min-width:1200px) {
	
	/*
	 * ---------------------------------------
	 * api/busca.css
	 * ---------------------------------------
	*/
	/* ELEMENTOS ESCONDIDOS */
	#elemento-icon-toggle-mostrar-filtros{
		display: none;
	}

	/*
	 * ---------------------------------------
	 * template/footer.css
	 * ---------------------------------------
	*/
	/* Is */
	.caixa-redes-sociais i{
		position: relative;
		top: -5px;
		
		font-size: 35px;
	}
	
}