/*
 * XS - CSS/SIZES/EXTRA-SMALL.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
@media screen and (max-width:543px) {

	/*
	 * ---------------------------------------
	 * geral.css
	 * ---------------------------------------
	*/
	/* DIVs */
	.caixa-busca-imoveis{
		background-image: none;

		min-height: 0px;
	}

	.centro-busca-imoveis {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	/* LABELs */
	.fonte-pequena{
		font-size: 70%;
	}

	.fonte-peq-media{
		font-size: 100%;
	}
	
	/*
	 * ---------------------------------------
	 * api/busca.css
	 * ---------------------------------------
	*/
	/* DIVs */
	.caixa-busca-texto{
		font-size: 110%;

		text-align: center;
	}

	.caixa-busca-input{
		-webkit-border-radius: 0;
	  	-moz-border-radius: 0;
	  	border-radius: 0;
	}

	.caixa-busca-input.caixa-busca-topo{
		background-color: #ffffff;
	    
	    padding: 14px 0 0 0;
	}

	.caixa-busca-conteudo .form-group{
		margin-bottom: 6px;
	}

	.caixa-busca-filtros .form-group{
		margin-bottom: 6px;
	}

	.caixa-busca-ordenacao.espacada{
		margin-top: 15%;
	}

	.caixa-busca-ordenacao .form-group{
		margin-bottom: 6px;
	}

	/* ELEMENTOS ESCONDIDOS */
	#elemento-conteudo-toggle-busca{
		display: none;
	}

	#elemento-icon-toggle-esconder-busca{
		display: none;
	}

	#elemento-conteudo-toggle-filtros{
		display: none;
	}

	#elemento-icon-toggle-esconder-filtros{
		display: none;
	}

	/* LABELs */
	.caixa-busca-input label{
		font-size: 70%;
	}

	.caixa-busca-filtros label{
		font-size: 100%;
	}

	.caixa-busca-ordenacao #search-quantidade-resultado-imoveis{
		display: block;

		text-align: center;

		font-size: 100%;
	}

	/* SELECTS */
	.caixa-busca-input select{
		font-size: 70%;

		height: 30px !important;
	}

	.caixa-busca-ordenacao select{
		font-size: 100%;

		height: 36px;
	}

	/* INPUTs */
	.caixa-busca-input input{
		font-size: 70%;
	}

	/*.caixa-busca-filtros .caixa-busca-number{
	    font-size: 85%;

	    height: 30px;

	    width: 35%;
	}*/

	/* BUTTONs */
	.caixa-busca-input button{
		font-size: 70%;
	}

	.caixa-busca-filtros button{
		height: 30px;
	}

	/* IMGs */
	.caixa-busca-carregador img{
		margin-top: 10%;
	    max-width: 50%;
	}

	/* ***** DROPDOWN ***** */
	.caixa-busca-dropdown .form-group{
		margin-bottom: 6px;
	}

	.caixa-dropdown-checkboxies{
		max-height: 200px;
	}

	.caixa-dropdown-radios{
	    max-height: 200px;
	}

	/* ABAS */
	.caixa-busca-pills .nav-item{
		width: 100%;
	}

	.caixa-busca-pills .nav-link[data-toggle="pill"]{
		font-size: 80%;
	}

	/* CARDBOARD */
	.cardboard .caixa-imagem-imovel{
		height: 180px;
	}

	.cardboard .inf-propriedade .inf-titulo{
		font-size: 90%;
	}

	.cardboard .inf-propriedade .inf-principais, .cardboard .inf-propriedade .inf-endereco, .cardboard .inf-propriedade .inf-extras{
		font-size: 80%;
	}

	.cardboard .inf-propriedade .inf-extras i{
		font-size: 16px;

		margin-right: 4px;
	}

	.cardboard hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/*
	 * ---------------------------------------
	 * template/footer.css
	 * ---------------------------------------
	*/
	/* DIVs */
	.caixa-enderecos{
		margin-top: 0;
		margin-bottom: 10px;
	}

	/* Is */
	.caixa-redes-sociais i{
		position: relative;
		top: -5px;
		
		font-size: 30px;
	}
}