/*
 * Lg - CSS/SIZES/LARGE.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
@media screen and (min-width:992px) and (max-width:1199px) {
	
	/*
	 * ---------------------------------------
	 * template/busca/busca.css
	 * ---------------------------------------
	*/
	/* BOOTSTRAP OVERRIDE */
	.caixa-busca-conteudo .form-group{
		margin-bottom: 0;
	}

	.caixa-busca-dropdown > div{
		margin-bottom: 10px !important;
	}

	/* DIVs */
	.caixa-busca-texto{
		font-size: 210%;

		text-align: center;
	}

	.caixa-busca-ordenacao.espacada{
		margin-top: 2%;
	}

	/* LABELs */
	.caixa-busca-input label{
		font-size: 120%;
	}

	/* ELEMENTOS ESCONDIDOS */
	#elemento-conteudo-toggle-filtros{
		display: none;
	}

	#elemento-icon-toggle-esconder-filtros{
		display: none;
	}

	.caixa-busca-ordenacao #search-quantidade-resultado-imoveis{
		display: block;

		text-align: left;

		font-size: 150%;
	}

	/* SELECTS */
	.caixa-busca-input select{
		font-size: 120%;

		height: 44px !important;
	}

	/* INPUTs */
	.caixa-busca-input input{
		font-size: 120%;
	}

	/* BUTTONs */
	.caixa-busca-input button{
		font-size: 120%;
	}

	/* ABAS */
	.caixa-busca-pills .nav-link[data-toggle="pill"]{
		font-size: 120%;
	}

	/*
	 * ---------------------------------------
	 * template/footer.css
	 * ---------------------------------------
	*/
	/* Is */
	.caixa-redes-sociais i{
		position: relative;
		top: -5px;
		
		font-size: 35px;
	}

}