/*
 * MD - CSS/SIZES/MEDIUM.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
@media screen and (min-width:768px) and (max-width:991px) {
	
	/*
	 * ---------------------------------------
	 * api/busca.css
	 * ---------------------------------------
	*/
	/* DIVs */
	.caixa-busca-texto{
		font-size: 210%;

		text-align: center;
	}

	.caixa-busca-ordenacao.espacada{
		margin-top: 6%;
	}

	/* ELEMENTOS ESCONDIDOS */
	#elemento-conteudo-toggle-busca{
		display: none;
	}

	#elemento-icon-toggle-esconder-busca{
		display: none;
	}

	#elemento-conteudo-toggle-filtros{
		display: none;
	}
	
	#elemento-icon-toggle-esconder-filtros{
		display: none;
	}

	/* LABELs */
	.caixa-busca-input label{
		font-size: 120%;
	}

	.caixa-busca-ordenacao #search-quantidade-resultado-imoveis{
		display: block;

		text-align: left;

		font-size: 150%;
	}

	/* SELECTS */
	.caixa-busca-input select{
		font-size: 120%;

		height: 44px !important;
	}

	.caixa-busca-ordenacao select{
		font-size: 120%;

		height: 36px;
	}

	/* INPUTs */
	.caixa-busca-input input{
		font-size: 120%;
	}

	/* BUTTONs */
	.caixa-busca-input button{
		font-size: 120%;
	}

	/* IMGs */
	.caixa-busca-carregador img{
		margin-top: 15%;
	    max-width: 30%;
	}

	/*
	 * ---------------------------------------
	 * geral.css
	 * ---------------------------------------
	*/
	/* DIVs */
	.centro-busca-imoveis{
		margin-top: 10px;
		margin-bottom: 10px;

	}
}