/*
 * SM - CSS/SIZES/SMALL.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
@media screen and (min-width:544px) and (max-width:767px) {
	
	/*
	 * ---------------------------------------
	 * geral.css
	 * ---------------------------------------
	*/
	/* DIVs */
	.caixa-busca-imoveis{
		background-image: none;

		min-height: 0px;
	}
	
	.centro-busca-imoveis {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	
	/*
	 * ---------------------------------------
	 * api/busca.css
	 * ---------------------------------------
	*/
	/* DIVs */
	.caixa-busca-texto{
		font-size: 200%;

		text-align: center;
	}

	.caixa-busca-input{
		-webkit-border-radius: 0;
	  	-moz-border-radius: 0;
	  	border-radius: 0;
	}

	.caixa-busca-input.caixa-busca-topo{
		background-color: #ffffff;
	    
	    padding: 14px 0 0 0;
	}

	.caixa-busca-ordenacao.espacada{
		margin-top: 10%;
	}

	/* ELEMENTOS ESCONDIDOS */
	#elemento-conteudo-toggle-busca{
		display: none;
	}

	#elemento-icon-toggle-esconder-busca{
		display: none;
	}

	#elemento-conteudo-toggle-filtros{
		display: none;
	}
	
	#elemento-icon-toggle-esconder-filtros{
		display: none;
	}

	/* LABELs */
	.caixa-busca-input label{
		font-size: 100%;
	}

	.caixa-busca-ordenacao #search-quantidade-resultado-imoveis{
		display: block;

		text-align: center;

		font-size: 120%;
	}

	/* SELECTS */
	.caixa-busca-input select{
		font-size: 100%;

		height: 44px !important;
	}

	/* INPUTs */
	.caixa-busca-input input{
		font-size: 100%;
	}

	/* BUTTONs */
	.caixa-busca-input button{
		font-size: 100%;
	}

	/* IMGs */
	.caixa-busca-carregador img{
		margin-top: 15%;
	    max-width: 75%;
	}

	/*
	 * ---------------------------------------
	 * template/footer.css
	 * ---------------------------------------
	*/
	.caixa-enderecos{
		margin-top: 0;
		margin-bottom: 10px;
	}
}