/*
 * GERAL - CSS/GERAL.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
body{
	background-color: #f1f1f1;
	/*font-family: "Hansom", "Antenna";*/
	font-size: 16px;
}

.background-azul-padrao{
	background-color: #183459;
	color: #ffffff;
}

.background-laranja-padrao{
	background-color: #e68929;
	color: #ffffff;
}

.fonte-padrao{
	font-size: 16px;
}

.fonte-pequena{
	font-size: 90%;
}

.fonte-peq-media{
	font-size: 120%;
}

.fonte-media{
	font-size: 150%;
}

.fonte-gigante{
	font-size: 200%;
}

/*
 * ---------------------------------------
 * BOOTSTRAP OVERRIDE
 * ---------------------------------------
*/
/* LABEL DE CHECKBOX */
.custom-control{
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-control .custom-control-indicator{
	top: 10px;
}



/* BUTTON */
.btn-pointer{
	cursor: pointer !important;
}

/* MODAL */
.alerta-transparente{
	position: fixed;

    top: 10px;
    right: 10px;

    width: fit-content;

    z-index: 1000;

    opacity: 0.85 !important;
}

.alerta-transparente:hover{
	opacity: 1 !important;
}

.alerta-transparente .alert{
	width: fit-content;
}


/*
 * ---------------------------------------
 * DIVs
 * ---------------------------------------
*/
.posicao-menos-5{
	top: -5px;
}

.espaco-top-grande{
	margin-top: 30px;
}

.espaco-top-medio{
	margin-top: 10px;
}

.espaco-top-2{
	margin-top: 2%;
}

.espaco-bottom-medio{
	margin-bottom: 10px;
}

.espaco-bottom-grande{
	margin-bottom: 30px;
}

.espaco-bottom-2{
	margin-bottom: 2%;
}

.espaco-direita-10{
	margin-right: 10px;
}

.bottom-formulario-0{
	margin-bottom: 0px;
}

.bottom-formulario-4{
	margin-bottom: 4px;
}

.bottom-formulario-8{
	margin-bottom: 8px;
}

.bottom-formulario-16{
	margin-bottom: 16px;
}

.bottom-formulario-20{
	margin-bottom: 20px;
}

.bottom-formulario-24{
	margin-bottom: 24px;
}

.preenchimento-top-4{
	padding-top: 4px;
}

.preenchimento-top-6{
	padding-top: 6px;
}

.preenchimento-top-10{
	padding-top: 10px;
}

.preenchimento-bottom-10{
	padding-bottom: 10px;
}

.preenchimento-top-1-porcento{
	padding-top: 1%;
}

.preenchimento-top-2-porcento{
	padding-top: 2%;
}

.preenchimento-direita-10{
	padding-right: 10px;
}

.margem-top-10-porcento{
	margin-top: 10%;
}

/*
 * ---------------------------------------
 * INPUTs
 * ---------------------------------------
*/
.campo-formulario-branco{
	background-color: #fff !important;
}

/*
 * ---------------------------------------
 * BUTTONs
 * ---------------------------------------
*/
.comportamento-botao{
	cursor: pointer;
}

i.icone-centralizado{
	margin-top: 4px;
}

.alerta-transparente button{
	position: relative !important;

	cursor: pointer;
}

/*
 * ---------------------------------------
 * HRs
 * ---------------------------------------
*/
.separador.padrao{
	border-width: 1px;
}

.separador.sem-top{
	margin-top: 0;
}

.separador.sem-bottom{
	margin-bottom: 0;
}

.separador.branco{
	color: #ffffff;
	background-color: #ffffff;
}

.separador.azul{
	color: #183459;
	background-color: #183459;
}

.separador.cinza{
	color: #dcdcdc;
	background-color: #dcdcdc;
}

.separador.verde{
	color: #92BF38;
	background-color: #92BF38;
}

.separador.vermelho{
	color: #CC3314;
	background-color: #CC3314;
}

/*
 * ---------------------------------------
 * TEXT
 * ---------------------------------------
*/
.texto-central{
	text-align: center !important;
}

.texto-sem-resultados{
	color: red;
	
	font-size: 150%;
	font-weight: 900;
}

.texto-campo-obrigatorio{
	color: red;
}

.texto-campo-publico{
	color: #183459;
}

.texto-campo-publico i{
	position: relative;
	top: -2px;

	color: #e68929;

	font-size: 12px;
}

.transparente{
	color: transparent !important;
}

.cor-preta{
	color: #000000 !important;
}

.cor-branca{
	color: #ffffff !important;
}

.cor-vermelha{
	color: #ff0000 !important;
}

.cor-vermelha-botao{
	color: #bd2130 !important;
}

.cor-verde{
	color: #00ff00 !important;
}

.cor-verde-botao{
	color: #28a745 !important;
}

.cor-azul{
	color: #183459 !important;
}

.cor-laranja{
	color: #e68929;
}


/*
 * ---------------------------------------
 * TABLE
 * ---------------------------------------
*/
.table tr td.celula-texto-central{
	text-align: center !important;
}

.table tr th.celula-texto-central{
	text-align: center !important;
}


/*
 * ---------------------------------------
 * HOME
 * ---------------------------------------
*/
#elemento-menu{
	position: sticky;
	top: -2px;

	background-color: #f1f1f1;

	z-index: 110;

	box-shadow: 0px 0px 2px 0px rgba(220, 220, 220, 0.40);
}

.centro-busca-imoveis{
	background: rgba(255,255,255,0.9);
	padding: 30px 20px 0px 20px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}

.caixa-primeira-apresentacao h4{
	padding: 10px;
}

.caixa-primeira-apresentacao .caixa-titulo{
	text-align: center;
}

.caixa-primeira-apresentacao .caixa-subtitulo{
	text-align: center;
}

.caixa-segunda-apresentacao{
	margin-top: 5%;
}

.caixa-segunda-apresentacao .caixa-titulo{
	text-align: center;
}

.caixa-segunda-apresentacao .caixa-subtitulo{
	text-align: center;
}

.sugestoes-imoveis{
	background-color: #e68929;
	padding: 10px 0px;
}

.sugestoes-imoveis h3, .sugestoes-imoveis h4{
	color: white;
}

.ancora-sugestoes a{
	font-size: 40px;
	color: white;

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.ancora-sugestoes a:hover{
	color: #183459;
}

.slide-imovel{
	outline-style: none;
}

/*
 * ---------------------------------------
 * VISUALIZAR IMOVEL
 * ---------------------------------------
*/
.titulo-imovel-visualizar-aluguel{
    color: #92BF38;
}

.titulo-imovel-visualizar-venda{
    color: #CC3314;
}

.titulo-imovel-visualizar-venda.sub-titulo{
    margin-top: 1rem;
}

.titulo-imovel-visualizar-aluguel.sub-titulo{
    margin-top: 1rem;
}

.detalhes{
    color: #fff;
    margin-top: 1%; 
    background-color: #92BF38;
    border-color: #92BF38;
}

.detalhes-venda{
    color: #fff;
    margin-top: 1%; 
    background-color: #CC3314;
    border-color: #CC3314;
}

.btn-agendar-venda:hover {
    color: #fff;
    background-color: #CC3314;
    border-color: #CC3314;
}

.btn-agendar:hover {
    color: #fff;
    background-color: #92BF38;
    border-color: #92BF38;
}

/*
 * ---------------------------------------
 * ADM
 * ---------------------------------------
*/
.caixa-adm-central{
	margin-top: 9%;
}

.caixa-informacoes{
    text-align: justify;
}

/*
 * ---------------------------------------
 * CARDBOARD
 * ---------------------------------------
*/
.caixa-cardboard{
	padding-bottom: 10px;

	outline-style: none;
}

.caixa-cardboard .col-3, .caixa-cardboard .col-4, .caixa-cardboard .row{
	padding: 0 !important;
	margin-right: 0px !important;
    margin-left: 0px !important;
}

.cardboard{
	background-color: white;
	padding-bottom: 10px;
	font-size: 16px;

	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.4);

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.cardboard:hover{
	-webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.65);
}

.cardboard-informacoes{
	cursor:pointer;
}

.cardboard .inf-propriedade{
	padding: 10px 10px 0px 10px;
}

.cardboard .inf-propriedade .inf-titulo{
	color: #4c4a49;
	font-size: 100%;
	font-weight: bold;
}

.cardboard .inf-propriedade .inf-referencia{
	color: #7b7b7b;
	font-size: 0.7em;
}

.cardboard .inf-propriedade .inf-principais, .cardboard .inf-propriedade .inf-endereco, .cardboard .inf-propriedade .inf-extras{
	font-size: 0.9em;
	color: #7b7b7b;
}

.cardboard .inf-propriedade .inf-principais, .cardboard .inf-propriedade .inf-extras{
	margin-top: 15px;
}

.ajuste-icone-suite-chuveiro{
	font-size: 0.6em;
}

.ajuste-icone-suite-cama{
	font-size: 0.8em;
}

.cardboard .cardboard-acoes .acao-favoritar a,
.cardboard .cardboard-acoes .acao-comparar a,
.cardboard .cardboard-acoes .acao-ignorar a{
	color: #7b7b7b;

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.cardboard .cardboard-acoes .acao-favoritar a:hover{
	color: #ff0000;
}

.cardboard .cardboard-acoes .acao-comparar a:hover{
	color: #007bff;
}

.cardboard .cardboard-acoes .acao-ignorar a:hover{
	color: #ff5400;
}

.cardboard .link-imovel{
	text-decoration: none !important;

	outline-style: none !important;
}

.cardboard .caixa-imagem-imovel{
	width: 100%;
	height: 220px;

	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

.locacao .cardboard-informacoes .caixa-imagem-imovel{
	border-bottom: 3px #28a745 solid;
}

.venda .cardboard-informacoes .caixa-imagem-imovel{
	border-bottom: 3px #dc3545 solid;
}

/*
 * ---------------------------------------
 * GALERIA DE FOTOS
 * ---------------------------------------
*/
.galeria-fotos ul{
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.galeria-fotos li.slide-gallery-fotos-imovel{
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.galeria-fotos img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*
 * ---------------------------------------
 * MENU
 * ---------------------------------------
*/
.muda-cor_menu-logado{
    background-color: #17A2B8;
    color: white;
}

/*
 *---------------------------------------—
 * CHAT
 *---------------------------------------—
*/
.botao-chat-fixo {
  position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    background: rgba(0,0,0,0.8);
    color: white;
    font-size: 20px;

    -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.botao-chat-fixo:hover {
    background: rgba(0,0,0,0.9);
}

.botao-chat-fixo a {
  color: white;
}

/*
 *---------------------------------------—
 * PRINT
 *---------------------------------------—
*/
.page-break{
	page-break-before: always;
}
