/*
 * FOOTER - CSS/TEMPLATE/FOOTER.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
html, body{
  height: 100%;
}

body{
  display: flex;

  flex-direction: column;
}

.content{
  flex: 1 0 auto;
}


/*
 * ---------------------------------------
 * DIVs
 * ---------------------------------------
*/
.caixa-footer{
	margin-top: 2%;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
}

.caixa-anuncio{
	text-align: center;
}


.caixa-enderecos{
	/*margin-top: 10px;*/
}

.caixa-redes-sociais{
	/*margin-top: 10px;*/
}

.caixa-informacoes{
	margin-top: 20px;
}

.caixa-parceiros{
	background-color: #f1f1f1;
	padding: 10px 0px;
}

/*
 * ---------------------------------------
 * BUTTONs
 * ---------------------------------------
*/
.caixa-anuncio a.btn{
	color: #ffffff;
	border-color: #ffffff;
}

/*
 * ---------------------------------------
 * LINKs
 * ---------------------------------------
*/
.caixa-redes-sociais a{
	color: #ffffff;

	margin-right: 10px;

	font-size: 40px;

	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

.caixa-redes-sociais a:HOVER{
	color: #e68929;

	text-decoration: none;
}

/*
 * ---------------------------------------
 * LINKs
 * ---------------------------------------
*/
.link-telefone{
	display: block;

	color: #ffffff;

	text-decoration: none;

	margin-bottom: .5rem;
}

.link-telefone:hover{
	color: #ffffff;

	text-decoration: none;	
}

.link-whatsapp{
	display: block;

	color: #ffffff;

	text-decoration: none;

	margin-bottom: .5rem;
}

.link-whatsapp:hover{
	color: #ffffff;

	text-decoration: none;
}

/*
 * ---------------------------------------
 * Is | SPANs
 * ---------------------------------------
*/
.caixa-redes-sociais i{
	font-size: 35px;
}

.link-whatsapp svg{
	background-color: #25d366;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
