/*
 * HEADER - CSS/TEMPLATE/HEADER.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
.numero-creci {
	padding: 2px 10px 0px 5px;
}

.redes-sociais {
	padding: 0px 6px 0px 10px;
}

.redes-sociais a {
	color: #ffffff;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

.redes-sociais a:hover {
	text-decoration: none;
	color: #e68929;
}

.login {
	margin-top: 6px;
}

.login a {
	color: #ffffff;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

.login a:hover {
}

.caixa-icones-cabecalho{
	padding-top: 6px;
}

.caixa-icones-cabecalho a{
	color: #ffffff;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

.caixa-icones-cabecalho a:hover{
	color: #e68929;
}
