/*
 * MENU - CSS/TEMPLATE/MENU.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/

/* Menu Mobile */

.menu-mobile-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	background-color: #f1f1f1;
	border-top: 1px solid #e1e1e1;
	padding: 8px 4px 3px 4px;
}

.col-item-mobile {
	width: 20%;
}

.menu-mobile-container a {
	color:#17a2b8;
}

.menu-mobile-container a:hover {
	color:#117a8b;
}

.menu-mobile-container a i {
	font-size:27px;
}





