/*
 * ABAS - CSS/ADM/ABAS.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
/*
 * ---------------------------------------
 * BOOTSTRAP OVERRIDE
 * ---------------------------------------
*/
/* NAV TAB */
.tab-content{
	padding-left: 1.66666%;
	padding-right: 1.33333%;
}

.tab-pane[aria-labelledby^="nav"]{
	padding-top: 20px;
	padding-bottom: 20px;

	border: 1px solid rgb(221, 221 ,221);
	border-top: none;
}
