.jumbotron{
    text-align: center;
}

.espacamento-comprovante-endereco{
    margin-bottom: 1%;
}

.espacamento-titulo-pagina{
    margin-top: 2%;
}

.caixa-adm-cliente-central{
    margin-top: 4%;
}

.bold-label label{
        font-weight: bold;
}

@media (min-width: 768px) {
	.botao-area-adm {
		padding-top: 15px;
	}
}

@media (max-width: 992px) {
	.d-md-down-none {
		display: none !important;
	}
}

.botao-area-adm-cliente {
	padding-top: 25px;
}

.botao-area-adm a {
	color: #a8a8a8;
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
	filter: grayscale(100%);

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.botao-area-adm a:hover {
	color: #6cb5d9;
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
	filter: grayscale(0%);
}

@media (max-width: 761px) {
	.botao-area-adm a {
		font-size: 70%;
	}
}

.botao-area-adm img {
	width: 80%;
}

.topo-area-adm img {
	width: 100%;
	height: auto;
}