/*
 * CADASTRO-IMOVEIS - CSS/CADASTRO-IMOVEIS.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/

/*
 * ---------------------------------------
 * DIVs
 * ---------------------------------------
*/
.caixa-form-cad-imovel-menu-lateral{
	border-right: 1px solid #DCDCDC;
}

/*
 * ---------------------------------------
 * INPUTs
 * ---------------------------------------
*/
.caixa-form-cad-imovel-especificacoes input[type="checkbox"]{
	margin-top: 8px;
}

.caixa-form-cad-imovel-infraestrutura input[type="checkbox"]{
	margin-top: 8px;	
}
