.caixa-adm-fichas {
	margin-top: -22%;
}

.caixa-fichas-cadastrais {
	background-color: white;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.4);

	padding: 0px !important;
}

.topo-ficha {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	background-color: #183459;
	padding: 10px 0;
}

.menu-fichas {
	margin: auto;
	margin-top: 20px;
	border: none !important;
}

.menu-fiador {
	max-width: 780px !important;
}

.menu-1-pretendente {
	max-width: 830px !important;
}

.menu-2-pretendente {
	max-width: 270px !important;
}

.menu-pessoa-juridica {
	max-width: 750px !important;
}

.menu-fichas .nav-link.active, .menu-fichas .nav-item.show .nav-link {
    color: #17a2b8;
    background-color: #fff;
    border: none;
    border-bottom: 3px  #17a2b8 solid;
}

.menu-fichas .nav-link {
	color: #117a8b;
    border: none;
}

.menu-fichas .nav-link:hover {
	border-bottom: 3px  #117a8b solid;
}

.aviso-campo-obrigatorio {
	margin-top: 20px;
}

.btn-baggio {
	color: #fff;
	background-color: #17a2b8;

	-webkit-border-radius: 30px !important;
	-moz-border-radius: 30px !important;
	border-radius: 30px !important;
}

.btn-baggio:hover {
	background-color: #117a8b;
	color: #fff !important;
}

.btn-baggio:focus, .btn-baggio.focus {
	background-color: #0a6877;
	color: #fff !important;
}

.btn-mais-um {
	padding: 0;
	width: 50px !important;
	height: 50px !important;
}

@media (min-width: 768px) {
	.btn-mais-um {
		margin-top: 40%;
	}
}

.erros-fichas {
	max-height: 200px;
	overflow: auto;
}

.titulo-sessao-ficha {
	text-align: center;
	background-color: #d6d6d6;
	padding: 10px;
}

.radio-alteracao {

}