/*
 * MODAIS - CSS/ADM/MODAIS.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
/*
 * ---------------------------------------
 * BOOTSTRAP OVERRIDE
 * ---------------------------------------
*/
.modal .table thead, .modal .table thead tr{
	display: block;
}

.modal .table thead tr th{
	display: inline-block;

	width: 50%;
}

.modal .table tbody, .modal .table tbody tr{
	display: block;
}

.modal .table tbody tr td{
	display: inline-block;
	
	width: 50%;
}
