/*
 * GERAL - CSS/GERAL.CSS
 * ---------------------------------------
 * DESCRICAO : 
 * ---------------------------------------
 * Cores principais
 * Azul #183459
 * Laranja #e68929
 * Verde #28a745
 * Vermelho #dc3545
*/
/*
 * ---------------------------------------
 * SELECT2 OVERRIDE
 * ---------------------------------------
*/
/* UL DE RESULTADOS DA BUSCA */
*[id*="select2-dropdown"].select2-results__options{
    font-size: 85%;
}
/* LI SELECIONADO */
*[id*="select2-dropdown"].select2-results__options li[aria-selected="true"]:before{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-size: 90%;
    font-weight: 900;

    color: #5897fb;
    background-color: transparent;

    padding-right: 5px;
}
/* LI HIGHLIGHTED SELECIONADO */
*[id*="select2-dropdown"].select2-results__options li[aria-selected="true"].select2-results__option--highlighted:before{
    color: #bbb;
}
/* UL DOS ITENS ESCOLHIDOS | SPAN DE ITEMS ESCOLHIDOS */
*[aria-owns*="select2-dropdown"], ul.select2-selection__rendered{

}
/* SPAN DE REMOCAO DOS ITENS ESCOLHIDOS */
ul.select2-selection__rendered span.select2-selection__clear,
*[aria-owns*="select2-dropdown"] ul span.select2-selection__clear{
    display: none;
}
/* LIs DA LISTA DE ITENS ESCOLHIDOS */
ul.select2-selection__rendered li.select2-selection__choice,
*[aria-owns*="select2-dropdown"] ul li.select2-selection__choice{
    display: none;
}
/* SPAN DE SELECAO UNICA */
.select2-selection--single{
    height: 34px !important;
}
/* SPAN DO TEXTO DENTRO DA CAIXA DE SELECAO UNICA */
.select2-selection--single span.select2-selection__rendered{
    line-height: 34px !important;
}
/* SPAN DE REMOCAO DO ITEM */
.select2-selection--single span.select2-selection__clear{
    top: -4px !important;
}

/**[id*="_chosen"] ul.chosen-choices{
    font-size: 16px;

    min-height: 36.4px;
    line-height: 32.4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
*[id*="_chosen"] .chosen-choices li.search-choice{
    display: none;
}
*[id*="_chosen"] .chosen-results li{
    color: #808080;
    background-color: #ffffff;
}
*[id*="_chosen"] .chosen-results li:hover{
    color: #ffffff;
    background-color: #3875d7;

    cursor: pointer;
}
*[id*="_chosen"] .chosen-results li:before{
    content: "\f058";
    font-family: FontAwesome;

    color: transparent;
    background-color: transparent;

    padding-right: 2px;
}
*[id*="_chosen"] .chosen-results li.group-all{
    font-weight: 700;

    padding-left: 6px;
}
*[id*="_chosen"] .chosen-results li.group-result{
    padding-left: 15px;
}

*[id*="_chosen"] .chosen-results li.group-result:before{
    padding-right: 4px;
}
*[id*="_chosen"] .chosen-results li.group-option{
    padding-left: 25px;
}
*[id*="_chosen"] .chosen-results li.result-selected{
    color: #000000;
}
*[id*="_chosen"] .chosen-results li.result-selected:hover{
    color: #ffffff;
}
*[id*="_chosen"] .chosen-results li.result-selected:before{
    color: #007bff;
    background-color: transparent;
}
*[id*="_chosen"] .chosen-results li.result-selected:hover::before{
    color: #ffffff;
    background-color: transparent;
}*/

/* SINGLE */
.chosen-container-single .chosen-results li.result-selected{
    color: #000;
}

.chosen-container-single .chosen-results li.result-selected.highlighted{
    color: #fff;
}

.chosen-container-single .chosen-results li.result-selected:hover{
    color: #fff;
}

.chosen-container-single a.chosen-single{
    background: #fff;

    font-size: 120%;

    min-height: 36.4px;
    line-height: 30.5px;
}

.chosen-container-single a.chosen-single div{
    padding-top: 0.3em;
}

/*
 * ---------------------------------------
 * AUTOCOMPLETE OVERRIDE
 * ---------------------------------------
*/
.easy-autocomplete{
	width: 100% !important;
}

/*
 * ---------------------------------------
 * BOOTSTRAP OVERRIDE
 * ---------------------------------------
*/
/* BOTOES DE ABA */
.nav-link[data-toggle="pill"]{
	color: #808080 !important;
	/*border: 1px solid transparent !important;*/
	background-color: transparent !important;
}

.active[data-toggle="pill"]{
	color: #17a2b8 !important;
	/*border-color: #17a2b8 !important;*/
}

.nav-link[data-toggle="pill"]:hover{
	color: #117a8b !important;
}

/* LABELs DE VENDA E LOCACAO */
.botao-venda{
	margin-right: 5px;

	background-color: rgba(118, 29, 33, 0.85) !important;
    border-color: #761d21 !important;
    box-shadow: none !important;
}

.active.botao-venda{
	background-color: rgba(220, 53, 69, 0.85) !important;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) !important;
}

.botao-venda:hover{
	background-color: rgba(220, 53, 69, 1) !important;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) !important;
}

.botao-locacao{
	background-color: rgba(37, 92, 53, 0.85) !important;
    border-color: #255c35 !important;
    box-shadow: none !important;
}

.active.botao-locacao{
	background-color: rgba(40, 167, 69, 0.85) !important;
	box-shadow: 0 0 0 0.2rem rgba(37, 92, 53, 0.5) !important;
}

.botao-locacao:hover{
	background-color: rgba(40, 167, 69, 1) !important;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) !important;
}

/*
 * ---------------------------------------
 * DIVs
 * ---------------------------------------
*/
.caixa-busca-imoveis{
	background-image: url('../../imagens/fundo-banner-home-2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	min-height: 480px;
}

.caixa-busca-texto{
	font-size: 200%;
}

.caixa-busca-input{
	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	border-radius: 10px;
}

.caixa-busca-input.caixa-busca-topo{
	background-color: #ffffff;
    
    padding: 30px 0 0 0;
    
    box-shadow: 0px 0px 10px 0px rgba(140, 140, 140, 0.35);
}

.caixa-busca-filtros{
	color: #fff !important;
	background-color: #183459;

	padding-top: 6px;
	padding-bottom: 10px;

	-webkit-border-radius: 0 0 10px 10px;
  	-moz-border-radius: 0 0 10px 10px;
  	border-radius: 0 0 10px 10px;
}

.caixa-busca-filtros .caixa-filtro-number{
    padding-left: 4px;
    padding-right: 4px;
}

.caixa-busca-botao-filtros{
	position: absolute;

	text-align: center;

	width: 100%;
}

.caixa-busca-ordenacao{
	color: #fff !important;
}

.caixa-busca-carregador{
	color: #183459;
}

.caixa-resultado-imoveis{
	box-shadow: 0px 4px 20px 2px rgba(200, 200, 200, 0.40);
}

.container-resultado-imoveis{
	position: relative;

	min-height: 300px;
}

div[loader-container="elemento-loader-imoveis"]{
	position: absolute;
	top: 0;

	background: rgba(24,52,89, 0.25);

	padding-top: 1%;

	width: 100%;
	height: 100%;

	z-index: 110;
}

/*
 * ---------------------------------------
 * LABELs
 * ---------------------------------------
*/
.caixa-busca-input label{
	font-size: 100%;
}

#elemento-botao-toggle-busca label{
    margin-bottom: 0;
}

/*
 * ---------------------------------------
 * SELECTs
 * ---------------------------------------
*/
.caixa-busca-filtros .caixa-busca-select{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.caixa-busca-filtros select{
    font-size: 95% !important;
}

/*
 * ---------------------------------------
 * INPUTs
 * ---------------------------------------
*/
.caixa-busca-input input{
	font-size: 95% !important;
}

/*.caixa-busca-filtros .caixa-busca-number{
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;

    font-size: 1rem;

    padding: 0.375rem 0.75rem;

    line-height: 1.5;

    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}*/

.caixa-busca-filtros input[type="number"]::-webkit-outer-spin-button, .caixa-busca-filtros input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.caixa-busca-filtros input[type="number"] {
    -moz-appearance: textfield;
}

/*
 * ---------------------------------------
 * IMGs
 * ---------------------------------------
*/
.caixa-busca-carregador img{
    margin-top: 5%;
	max-width: 20%;
}

.caixa-busca-botao-filtros i#elemento-icon-toggle-mostrar{
	display: none;
}

/*
 * ---------------------------------------
 * BUTTONs
 * ---------------------------------------
*/
.caixa-busca-input button{
	font-size: 95%;
}

.caixa-busca-filtros button{
    position: relative;
    top: 2px;
}

.caixa-busca-botao-filtros button{
	border: none !important;
	box-shadow: none !important;

	-webkit-border-radius: 0 0 10px 10px;
  	-moz-border-radius: 0 0 10px 10px;
  	border-radius: 0 0 10px 10px;
}

/*
 * ---------------------------------------
 * DROPDOWN
 * ---------------------------------------
*/
.caixa-dropdown-select select{
	font-size: 90%;

	width: 95%;
}

.caixa-dropdown-select select:active{
	-webkit-border-radius: 4px 4px 0 0;
  	-moz-border-radius: 4px 4px 0 0;
  	border-radius: 4px 4px 0 0;
}

.caixa-dropdown-radios{
	display: none;

    position: absolute;

    background: #ffffff;

    border: 1px solid #dcdcdc;
    -webkit-border-radius: 0 0 4px 4px;
  	-moz-border-radius: 0 0 4px 4px;
  	border-radius: 0 0 4px 4px;

    margin: 0;

    z-index: 110;

    width: calc(95% - 30px);

    max-height: 300px;

    overflow-x: hidden;
    overflow-y: auto;
}

.caixa-dropdown-checkboxies{
	display: none;

    position: absolute;

    background: #ffffff;

    border: 1px solid #dcdcdc;
    -webkit-border-radius: 0 0 4px 4px;
  	-moz-border-radius: 0 0 4px 4px;
  	border-radius: 0 0 4px 4px;

    margin: 0;

    z-index: 1100;

    width: calc(95% - 30px);

    max-height: 300px;

    overflow-x: hidden;
    overflow-y: auto;
}

.caixa-dropdown-checkboxies .caixa-dropdown-checkbox{
    background-color: #ffffff;

    height: 30px;

    margin-bottom: 0;
}

.caixa-dropdown-checkboxies .caixa-dropdown-checkbox.active{
	/*background-color: rgba(0, 123, 255, 0.45);*/
}

.caixa-dropdown-radios .caixa-dropdown-radio{
	margin-bottom: 0;
}
/* LABELs */
.caixa-dropdown-checkboxies .dropdown-checkbox-grouper{
    position: relative;
    top: -6px;
    height: 30px;

	color: #000000;

    margin: 0;
    padding: 0 0 0 30px;

    font-size: 70%;
    font-weight: 900;

    width: 100%;

    border-bottom: 1px solid #dcdcdc;
}

.caixa-dropdown-radios .dropdown-radio{
	color: #000000;

    margin: 0;
    padding: 0 0 0 30px;

    font-size: 70%;

    width: 100%;

    border-bottom: 1px solid #dcdcdc;
}

.caixa-dropdown-checkboxies .dropdown-checkbox{
    position: relative;
    top: -6px;
    height: 30px;

    color: #000000;

    margin: 0;
    padding: 0 0 0 40px;

    font-size: 70%;

    width: 100%;

    border-bottom: 1px solid #dcdcdc;
}
/* SPANs */
.caixa-dropdown-radios .dropdown-radio span.custom-control-indicator{
	top: 0;
	left: 4px;
}

.caixa-dropdown-checkboxies .dropdown-checkbox-grouper span.custom-control-indicator{
    top: 6px;
    left: 5px;
}

.caixa-dropdown-checkboxies .dropdown-checkbox-grouper span.custom-control-description{
    position: relative;
    top: 6px;
}

.caixa-dropdown-checkboxies .dropdown-checkbox span.custom-control-indicator{
    top: 6px;
    left: 15px;
}

.caixa-dropdown-checkboxies .dropdown-checkbox span.custom-control-description{
    position: relative;
    top: 6px;
}

/*
 * ---------------------------------------
 * SEM RESULTADOS
 * ---------------------------------------
*/
#elemento-sem-resultados{
	display: none;

	padding-top: 5%;
}

#elemento-sem-resultados svg{
	color: #e68929;
}

#elemento-sem-resultados .fonte-maior{
	color: #e68929;

	font-size: 100%;
	font-weight: 900;
}

#elemento-sem-resultados .fonte-menor{
	color: #e68929;

	font-size: 95%;
}

.copiar-pesquisa {
    background-color: #b1b1b1 !important;
    padding: 5px;
    color: #f1f1f1;
    height: 35px;
    width: 35px;
    cursor: pointer;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.copiar-pesquisa:hover {
    background-color: #8e8e8e !important;
    padding: 5px;
    color: #f1f1f1;
    height: 35px;
    width: 35px;
}

.copiar-pesquisa:active {
    background-color: #616161 !important;
    padding: 5px;
    color: #f1f1f1;
    height: 35px;
    width: 35px;

    -o-transition:none !important;
    -ms-transition:none !important;
    -moz-transition:none !important;
    -webkit-transition:none !important;
    transition:none !important;
}

.temp_textarea {
    background: rgba(255,255,255,0.0);
    border: none;
    width: 1px;
    height: 1px;
}

.alert-box {
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}